# Web Environment
VITE_API_URL=http://localhost:4000
VITE_ML_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# API Backend Environment
PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/insightflow
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretchangeinproduction
REFRESH_TOKEN_SECRET=anotherrefreshsupersecrettoken

# ML Python Environment
ML_PORT=8000
ML_ENV=development
